<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample of django</title>
    <style>
        h1{
            color: red;
            padding: 20px;
            background-color: green;

        }
        h1:hover{
            background-color: pink;
            border-radius: 20px;
            color:white;
            
        }
        body{
            background-color: palegoldenrod;
        }
    </style>
</head>
<body>
    <h1>this is the sample of the html page of first genric html</h1>
    
    
</body>
</html>